

.dropdown.notification {
    position: relative;
}

.dropdown.notification span {
    position: absolute;
    display: block;
    background: #ffff00;
    text-align: center;
    border-radius: 50%;
    top: -5px;
    right: -8px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}